In [1]:
# Update sklearn to prevent version mismatches
!pip install sklearn --upgrade

Collecting sklearn
  Using cached sklearn-0.0.tar.gz (1.1 kB)
Requirement already satisfied, skipping upgrade: scikit-learn in /Users/nicolebroussard/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages (from sklearn) (0.23.1)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in /Users/nicolebroussard/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages (from scikit-learn->sklearn) (1.17.0)
Requirement already satisfied, skipping upgrade: threadpoolctl>=2.0.0 in /Users/nicolebroussard/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages (from scikit-learn->sklearn) (2.1.0)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in /Users/nicolebroussard/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages (from scikit-learn->sklearn) (0.16.0)
Requirement already satisfied, skipping upgrade: scipy>=0.19.1 in /Users/nicolebroussard/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages (from scikit-learn->sklearn) (1.5.0)
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py) ... done
  Created wheel for sklearn: filename=sklearn-0.0-py2.py3-none-any.whl size=1315 sha256=249a0cc87bd3420ecd80da8c76a0ded381cc23c01fa92989ffca5c2d98e6710c
  Stored in directory: /Users/nicolebroussard/Library/Caches/pip/wheels/23/9d/42/5ec745cbbb17517000a53cecc49d6a865450d1f5cb16dc8a9c
Successfully built sklearn
Installing collected packages: sklearn
Successfully installed sklearn-0.0

In [126]:
!pip install -U kaleido

Collecting kaleido
  Downloading kaleido-0.2.1-py2.py3-none-macosx_10_11_x86_64.whl (85.2 MB)
     |████████████████████████████████| 85.1 MB 1.6 MB/s eta 0:00:016   |███▍                            | 9.2 MB 2.8 MB/s eta 0:00:28     |███████▍                        | 19.6 MB 6.8 MB/s eta 0:00:10     |███████▍                        | 19.8 MB 6.8 MB/s eta 0:00:10     |███████▉                        | 20.7 MB 6.8 MB/s eta 0:00:10     |████████████▎                   | 32.7 MB 1.5 MB/s eta 0:00:35     |█████████████▍                  | 35.8 MB 2.8 MB/s eta 0:00:18     |██████████████▍                 | 38.2 MB 2.8 MB/s eta 0:00:18MB/s eta 0:00:14     |█████████████████▌              | 46.5 MB 8.5 MB/s eta 0:00:05██████████▌             | 49.2 MB 4.4 MB/s eta 0:00:09     |██████████████████▊             | 49.7 MB 4.4 MB/s eta 0:00:09     |██████████████████▉             | 50.2 MB 4.4 MB/s eta 0:00:08        | 61.3 MB 7.6 MB/s eta 0:00:04     |███████████████████████████▋    | 73.4 MB 1.7 MB/s eta 0:00:07     |███████████████████████████▊    | 73.8 MB 1.7 MB/s eta 0:00:07     |█████████████████████████████▎  | 77.8 MB 1.1 MB/s eta 0:00:07     |███████████████████████████████ | 82.6 MB 1.6 MB/s eta 0:00:02     |████████████████████████████████| 85.2 MB 58 kB/s
Installing collected packages: kaleido
Successfully installed kaleido-0.2.1

In [2]:
# install joblib
!pip install joblib

Requirement already satisfied: joblib in /Users/nicolebroussard/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages (0.16.0)

In [53]:
!pip install plotly

Collecting plotly
  Downloading plotly-5.1.0-py2.py3-none-any.whl (20.6 MB)
     |████████████████████████████████| 20.6 MB 192 kB/s eta 0:00:01    |▌                               | 317 kB 2.6 MB/s eta 0:00:08     |███▊                            | 2.4 MB 2.6 MB/s eta 0:00:08     |███████▌                        | 4.8 MB 2.3 MB/s eta 0:00:07
Collecting tenacity>=6.2.0
  Downloading tenacity-8.0.1-py3-none-any.whl (24 kB)
Requirement already satisfied: six in /Users/nicolebroussard/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages (from plotly) (1.15.0)
Installing collected packages: tenacity, plotly
Successfully installed plotly-5.1.0 tenacity-8.0.1

In [86]:
#Import Dependencies
import pandas as pd
import numpy as np

In [87]:
df = pd.read_csv("data/coffee_data_cleaned.csv")
df

,Unnamed: 0,index,total_cup_points,species,owner,country_of_origin,farm_name,lot_number,mill,ico_number,...,category_two_defects,expiration,certification_body,certification_address,certification_contact,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters,length
0,0,0,90.58,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,...,0,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0,4
1,1,1,89.92,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,...,1,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0,4
2,2,3,89.00,Arabica,yidnekachew dabessa,Ethiopia,yidnekachew dabessa coffee plantation,NaN,wolensu,NaN,...,2,"March 25th, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1800.0,2200.0,2000.0,4
3,3,4,88.83,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,...,2,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0,4
4,4,5,88.83,Arabica,ji-ae ahn,Brazil,NaN,NaN,NaN,NaN,...,1,"September 3rd, 2014",Specialty Coffee Institute of Asia,726e4891cf2c9a4848768bd34b668124d12c4224,b70da261fcc84831e3e9620c30a8701540abc200,m,NaN,NaN,NaN,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1124,1124,1334,78.75,Robusta,luis robles,Ecuador,robustasa,Lavado 1,our own lab,NaN,...,1,"January 18th, 2017",Specialty Coffee Association,ff7c18ad303d4b603ac3f8cff7e611ffc735e720,352d0cf7f3e9be14dad7df644ad65efc27605ae2,m,NaN,NaN,NaN,4
1125,1125,1335,78.08,Robusta,luis robles,Ecuador,robustasa,Lavado 3,own laboratory,NaN,...,0,"January 18th, 2017",Specialty Coffee Association,ff7c18ad303d4b603ac3f8cff7e611ffc735e720,352d0cf7f3e9be14dad7df644ad65efc27605ae2,m,40.0,40.0,40.0,4
1126,1126,1336,77.17,Robusta,james moore,United States,fazenda cazengo,NaN,cafe cazengo,NaN,...,6,"December 23rd, 2015",Specialty Coffee Association,ff7c18ad303d4b603ac3f8cff7e611ffc735e720,352d0cf7f3e9be14dad7df644ad65efc27605ae2,m,795.0,795.0,795.0,4
1127,1127,1337,75.08,Robusta,cafe politico,India,NaN,NaN,NaN,14-1118-2014-0087,...,1,"August 25th, 2015",Specialty Coffee Association,ff7c18ad303d4b603ac3f8cff7e611ffc735e720,352d0cf7f3e9be14dad7df644ad65efc27605ae2,m,NaN,NaN,NaN,4
1128,1128,1338,73.75,Robusta,cafe politico,Vietnam,NaN,NaN,NaN,NaN,...,9,"August 25th, 2015",Specialty Coffee Association,ff7c18ad303d4b603ac3f8cff7e611ffc735e720,352d0cf7f3e9be14dad7df644ad65efc27605ae2,m,NaN,NaN,NaN,4

In [88]:
#Basic Data Cleaning
df = df.drop(columns=['Unnamed: 0'])
df

,index,total_cup_points,species,owner,country_of_origin,farm_name,lot_number,mill,ico_number,company,...,category_two_defects,expiration,certification_body,certification_address,certification_contact,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters,length
0,0,90.58,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,...,0,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0,4
1,1,89.92,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,...,1,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0,4
2,3,89.00,Arabica,yidnekachew dabessa,Ethiopia,yidnekachew dabessa coffee plantation,NaN,wolensu,NaN,yidnekachew debessa coffee plantation,...,2,"March 25th, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1800.0,2200.0,2000.0,4
3,4,88.83,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,...,2,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0,4
4,5,88.83,Arabica,ji-ae ahn,Brazil,NaN,NaN,NaN,NaN,NaN,...,1,"September 3rd, 2014",Specialty Coffee Institute of Asia,726e4891cf2c9a4848768bd34b668124d12c4224,b70da261fcc84831e3e9620c30a8701540abc200,m,NaN,NaN,NaN,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1124,1334,78.75,Robusta,luis robles,Ecuador,robustasa,Lavado 1,our own lab,NaN,robustasa,...,1,"January 18th, 2017",Specialty Coffee Association,ff7c18ad303d4b603ac3f8cff7e611ffc735e720,352d0cf7f3e9be14dad7df644ad65efc27605ae2,m,NaN,NaN,NaN,4
1125,1335,78.08,Robusta,luis robles,Ecuador,robustasa,Lavado 3,own laboratory,NaN,robustasa,...,0,"January 18th, 2017",Specialty Coffee Association,ff7c18ad303d4b603ac3f8cff7e611ffc735e720,352d0cf7f3e9be14dad7df644ad65efc27605ae2,m,40.0,40.0,40.0,4
1126,1336,77.17,Robusta,james moore,United States,fazenda cazengo,NaN,cafe cazengo,NaN,global opportunity fund,...,6,"December 23rd, 2015",Specialty Coffee Association,ff7c18ad303d4b603ac3f8cff7e611ffc735e720,352d0cf7f3e9be14dad7df644ad65efc27605ae2,m,795.0,795.0,795.0,4
1127,1337,75.08,Robusta,cafe politico,India,NaN,NaN,NaN,14-1118-2014-0087,cafe politico,...,1,"August 25th, 2015",Specialty Coffee Association,ff7c18ad303d4b603ac3f8cff7e611ffc735e720,352d0cf7f3e9be14dad7df644ad65efc27605ae2,m,NaN,NaN,NaN,4
1128,1338,73.75,Robusta,cafe politico,Vietnam,NaN,NaN,NaN,NaN,cafe politico,...,9,"August 25th, 2015",Specialty Coffee Association,ff7c18ad303d4b603ac3f8cff7e611ffc735e720,352d0cf7f3e9be14dad7df644ad65efc27605ae2,m,NaN,NaN,NaN,4

In [98]:
# Set features. This will also be used as your x values.
selected_features = df[['aroma', 'flavor', 'aftertaste', 'acidity', 'body', 'balance', 'uniformity', 'clean_cup', 'sweetness', 'moisture', 'category_one_defects', 'category_two_defects']]

In [99]:
#Set y and Split into Test/Train
from sklearn.model_selection import train_test_split

y = df["cupper_points"]

X_train, X_test, y_train, y_test = train_test_split(
    selected_features, y, random_state=1)

In [100]:
X_train.head()

,aroma,flavor,aftertaste,acidity,body,balance,uniformity,clean_cup,sweetness,moisture,category_one_defects,category_two_defects
876,7.67,7.17,7.00,7.50,7.00,7.00,10.00,10.00,10.00,0.12,0,5
1073,7.33,6.75,6.67,7.25,7.50,7.00,10.00,5.33,10.00,0.12,0,30
649,7.50,7.42,7.42,7.42,7.67,7.42,10.00,10.00,10.00,0.11,1,0
612,7.58,7.67,7.50,7.67,7.83,8.42,9.33,9.33,9.33,0.12,0,0
780,7.50,7.33,7.17,7.25,7.50,7.42,10.00,10.00,10.00,0.12,0,1

In [101]:
#Preprocessing
# Scale your data
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [102]:
#Create Model
from sklearn import tree
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(n_estimators=200)
rf = rf.fit(X_train_scaled, y_train)

In [103]:
#Train Model
print(f"Training Data Score: {rf.score(X_train_scaled, y_train)}")
print(f"Testing Data Score: {rf.score(X_test_scaled, y_test)}")

Training Data Score: 0.9557974030484531
Testing Data Score: 0.4098820244893475

In [104]:
#Find important features
imp_feat_df = pd.DataFrame(sorted(zip(rf.feature_importances_, selected_features), reverse=True))
imp_feat_df = imp_feat_df.rename(columns={0:"percentage", 1:"feature"})
imp_feat_df

    percentage               feature
0     0.498676                flavor
1     0.172835               balance
2     0.139521            aftertaste
3     0.048901                  body
4     0.045543                 aroma
5     0.028188               acidity
6     0.018242  category_two_defects
7     0.017564  category_one_defects
8     0.016193              moisture
9     0.007494            uniformity
10    0.003998             sweetness
11    0.002844             clean_cup

In [105]:
#Predict cupper points
y_pred = rf.predict(X_test_scaled)
df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
df

      Actual  Predicted
1044    6.67    6.96865
1004    6.75    6.86835
90      8.17    7.85825
65      7.92    7.94135
976     6.83    6.97715
...      ...        ...
452     7.58    7.52700
2       8.67    8.42980
1105    7.67    7.91365
241     7.92    7.67950
711     7.50    7.64380

[283 rows x 2 columns]

In [106]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.4098820244893475

Hyperparameter Tuning Using GridSearh

In [107]:
# Create the GridSearchCV model
from sklearn.model_selection import GridSearchCV
param_grid = {
    'n_estimators': [200, 1000],
    'max_features': ['auto', 'sqrt', 'log2']
}
grid = GridSearchCV(estimator=rf, param_grid=param_grid, cv=5)

In [108]:
# Train the model with GridSearch
grid_results = grid.fit(X_train_scaled, y_train)

In [109]:
print(grid_results.best_params_)
print(grid_results.best_score_)

{'max_features': 'log2', 'n_estimators': 1000}
0.7122833092316594

In [110]:
y_gs_pred = grid_results.predict(X_test_scaled)
gs_df = pd.DataFrame({'Actual': y_test, 'Predicted': y_gs_pred})
gs_df

      Actual  Predicted
1044    6.67    6.94560
1004    6.75    6.89003
90      8.17    7.84991
65      7.92    7.89376
976     6.83    6.95490
...      ...        ...
452     7.58    7.52868
2       8.67    8.44091
1105    7.67    7.91190
241     7.92    7.63413
711     7.50    7.62055

[283 rows x 2 columns]

In [111]:
from sklearn.metrics import r2_score
r2_score(y_test, y_gs_pred)

0.4131496407284255

In [112]:
#Find important feature 
importances = grid.best_estimator_.feature_importances_
importances

array([0.09582952, 0.24327485, 0.20092443, 0.09347889, 0.08402672,
       0.19043115, 0.01158187, 0.01239715, 0.00686267, 0.0210881 ,
       0.01354409, 0.02656055])

In [113]:
selected_features.columns

Index(['aroma', 'flavor', 'aftertaste', 'acidity', 'body', 'balance',
       'uniformity', 'clean_cup', 'sweetness', 'moisture',
       'category_one_defects', 'category_two_defects'],
      dtype='object')

In [128]:
import plotly.express as px
import plotly.graph_objects as go

fig = go.Figure(data =[go.Pie(labels=imp_feat_df["feature"], values=imp_feat_df["percentage"], title='Features with the Most Importance', hole=.5)])
fig.write_image("imp_feat_doughnut.png")
fig.show()

ValueError:
Image export using the "kaleido" engine requires the kaleido package,
which can be installed using pip:
    $ pip install -U kaleido